html {
  background-color: #deb887;
}

.App {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}

/* HEADER SECTION */
.header.upper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  background-color: rgba(117, 80, 21, 0.4);
}

img.big-logo {
  width: 400px;
  height: auto;
}

.stats {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: auto;
  color: antiquewhite;
  margin-top: 3%;
}

.stats div {
  margin-right: 5%;
  width: 200px;
  height: auto;
  border-radius: 5px;
  background: linear-gradient( #000000, transparent);
}

p.stats-text {
  font-weight: bolder;
  font-size: 1.15em;
}


/* NAV SECTION */

nav {
  display: flex;
  flex-direction: row;
  background-color: #d2a97f;
  height: 50px;
}

nav a {
  text-decoration: none;
  color: antiquewhite;
  font-weight: bolder;
  font-size: 1.2em;
  width: 150px;
  margin-top: 1%;
}

.nav-box {
  height: max-content;
  border-right: antiquewhite 1px solid;
}